.Rubriken
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Rubrik
{
border: solid black 2px;
padding-left: 25vw;
padding-right: 25vw;
padding-top: 3vh;
padding-bottom: 3vh;

}

.Struktur
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Behållare
{
border: solid black 2px;
}