.Struktur
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10%;
    gap: 2%;
}

.Box
{
    border: solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.RubrikTextBox
{
    border: solid black;
    max-height: 100%;
    margin: 2%;
}

#Rubrik
{
    margin: 5%;
    font-size: 3vw;
}

.MatInfoTextBox
{
    border: solid black;
    height: 100%;  
    margin: 2%; 
    font-size: 1.5vw;

}

.TextBox
{
    border: solid black;
}

.FörstaBilden
{
    border: solid black;
    max-width: 50vw;
    height: 100%;
    justify-content: space-evenly;
    object-fit: cover;


}