.Struktur
{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 3fr 2fr;
}

.Box
{
    border: solid black;
    margin: 0.5%;
}

.TextBox
{
    border: solid black;
    margin: 2%;
}

.FörstaBilden
{
    max-width: 50vw;
}